{% extends 'base.html'%}
{% load cache %}
{% block title %}
  <title>Проверка участия</title>
{% endblock %}
{% block content %}
      <div class="text-center py-3" style="background-color: #8b82ab"> 
        <span style="color:white"> Оценка вероятности участия компании в выставке:</span>
      </div>
      <div class="border-top container py-5">  
        <form method="post" action="{% url 'ask:main' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Проверить" style="color:white; background-color: #8b82ab; box-shadow:none"> 
        </form>
        <p></p>
          <div class="border-top text-center py-3">
          Прогнозируемый результат: 
          <p>{{ deal }}</p>
          </div>
      </div>
{% endblock %}  
